body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #e9ecef;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('card.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}

.scores {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

.name1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.name {
    font-size: 24px;
    font-weight: 700;
    color: #DC143C;
}

.score {
    height: 170px;
    width: 170px;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    background-color: #C62828;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#generate {
    background-color: transparent;
    border: 2px solid #DC143C;
    font-size: 36px;
    font-weight: bold;
    padding: 12px 28px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 15px;
    width: 320px;
    height: 75px;
    color: #DC143C;
}

#generate:hover {
    background-color: #DC143C;
    color: #fff;
}

.rectangles {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.rectangle {
    width: 120px;
    height: 200px;
    font-size: 48px;
    font-weight: 700;
    border: 3px solid #DC143C;
    border-radius: 10px;
    background-image: url('cards.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.win {
    width: 300px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    color: #DC143C;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
